body {
    background-color: rgb(201, 200, 200);
    margin: 0px;
    font-family: 'Brandon Grotesque Regular', sans-serif;
    font-style: normal;
    font-weight: 400;
}

.page {
    background-color: rgb(201, 200, 200);
    margin: 0px auto;
    width: 1000px;
    height: auto;
}

.header {
    height: 100px;
    margin: -20px;
    letter-spacing: 8px;
    padding-top: -20px;
}

.title {
    text-align: center;
    font-size: 5.5em;
    align-items: center;
    text-transform: capitalize;
}

.title a {
    text-decoration: none;
    color: black;
}

.title a:hover {
    color: goldenrod;
}

.small {
    text-transform: none;
    font-size: 30px;
    text-decoration: overline white;
}

.parag {
    font-size: 25px;
    text-transform: uppercase;
    text-align: center;
    margin-top: -70px
}

.for {
    text-transform: none;
}

.small-parag {
    font-size: 13px;
    letter-spacing: 4px;
    text-align: center;
    margin-top: -30px;
}

.font {
    font-size: 30px;
    color: goldenrod;
}

.nav {
    margin-top: 60px;
    height: 40px;
    text-decoration: line-through;
    background-color: white;
}

.nav ul {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    list-style: none;
    justify-content: space-evenly;
}

.nav li {
    margin-bottom: -45px;
    font-size: 15px;
    text-transform: uppercase;
}

.nav li a {
    text-decoration: none;
    color: black;
    letter-spacing: 5px;
}

.nav a:hover {
    color: goldenrod;
}

.description-first {
    display: flex;
    height: 150px;
    margin-top: 40px;
}

.first-description {
    display: flex;
    justify-content: space-between;
    /* duhet ni ndrishim ketuuuu*/
    font-size: 16px;
    text-align: start;
    word-spacing: 5.7px;
    letter-spacing: px;
    line-height: 1.4;
}

.left {
    float: left;
}

.right {
    margin-left: 20px;
    float: right;
}

.second-content {
    display: flex;
    justify-content: flex-start;
}

.first-second-content {
    margin-right: 100px;
    margin-bottom: 25px;
}

.second-second-content {}

.number {
    text-align: center;
    margin-bottom: -15px;
}

.title-second {
    text-transform: uppercase;
    font-size: 12px;
    text-align: center;
    letter-spacing: 2px;
    border-bottom: 10px solid white;
}

.title-second p {
    margin-top: -14px;
    letter-spacing: 2px;
}

.title-second a {
    text-decoration: none;
    color: black;
}

.title-second a:hover {
    color: goldenrod;
}

.para-description {
    line-height: 1.5;
    padding-bottom: 15px;
    border-bottom: 10px solid white;
}

.footer {
    background-color: black;
    color: white;
}

.description-footer {
    display: flex;
    justify-content: flex-start;
    height: 300px;
}

.description-left {
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;
}

.parag-footer-1 {
    width: 50%;
    margin-right: 20px;
    height: 180px;
    border-bottom: 5px solid white;
}

.description-right {
    margin-top: 20px;
}

.description-center {
    border-left: 10px solid white;
    margin-top: 30px;
    margin-bottom: 30px;
}

.parag-footer-2 {
    width: 50%;
    margin-left: 20px;
    height: 180px;
    border-bottom: 5px solid white;
}

.footer-p-2 {
    margin-left: 45px;
    letter-spacing: 1px;
    word-spacing: 5px;
    letter-spacing: 3px;
}

.footer-p-2 a {
    color: white;
    text-decoration: none;
}

.footer-p-2 a:hover {
    color: goldenrod;
}

.footer-p-1 {
    position: absolute;
    letter-spacing: 1px;
    margin-top: 220px;
    margin-right: 40px;
    word-spacing: 5px;
    letter-spacing: 3px;
}

.footer-p-1 a {
    color: white;
    text-decoration: none;
}

.footer-p-1 a:hover {
    color: goldenrod;
}

.footer-footer {
    color: goldenrod;
    margin-top: -40px;
    text-align: center;
    text-transform: uppercase;
}